@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --secondary-text-color: #ffffff;
  --background: #f5f4fa;
  --social-icon-color: #afb1b8;
  --footer-background: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* background-color: #e5e5e5; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal-form {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-close-svg {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
}

.modal-form-input,
.modal-form-comment {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-icon-svg {
  top: 0;
  position: absolute;
  transform: translate(50%, 50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .modal-icon-svg,
.modal-form-input:not(:placeholder-shown) ~ .modal-icon-svg {
  fill: var(--accent-color);
}

.modal-form-input:focus,
.modal-form-comment:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-comment:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  padding-left: 42px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translateY(-40px);
  left: -30px;
  color: var(--accent-color);
}

.modal-form-comment {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}

.modal-form-comment:focus::placeholder {
  color: var(--accent-color);
}

.modal-form-option-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-option-span a {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-form-option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-checkbox-svg {
  fill: var(--secondary-text-color);
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ШАПКА САЙТА */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-address {
  display: flex;
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list a {
  display: flex;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 25px;
  align-items: center;
}

.header-address-link:hover,
.header-address-link:focus,
.header-address-link:hover .header-icon-envelope,
.header-address-link:focus .header-icon-envelope,
.header-address-link:hover .header-icon-phone,
.header-address-link:focus .header-icon-phone {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-icon-envelope {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list:not(:last-child) {
  margin-right: 30px;
}

.header-address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:not(:last-child) {
  margin-right: 10px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  margin-right: 85px;
}

.logo > span {
  color: var(--accent-color);
}

.navigation-list-link,
.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.navigation-list .link.current {
  color: var(--accent-color);
}

.header-address {
  color: var(--primary-text-color);
}

.link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  margin-top: 24px;
}

/* ПОРТФОЛИО */
.portfolio-header {
  border: 1px solid #ececec;
}

.portfolio-nav {
  padding-top: 93px;
  padding-bottom: 50px;
}

.nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--background);
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn-list:not(:last-child) {
  margin-right: 8px;
}

.nav-btn-list .nav-btn:hover,
.nav-btn-list .nav-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-nav-buttons {
  display: flex;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 121px;
}

.portfolio-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--secondary-text-color);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text {
  transform: translateY(-100%);
}

.card-content {
  background: var(--secondary-text-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  padding-bottom: 4px;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 100%;
  left: 0;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}

/* HERO СЕКЦИЯ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* временный background
  background: var(--background); */
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header/header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--logo-text-color);
  max-width: 1600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.hero-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

/* О НАС */
.about-us-bg {
  display: flex;
  background: var(--background);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
}

.about-us-svg {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.about-work-list {
  display: flex;
}

.about-work-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-work-icon {
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.about-us-list {
  display: flex;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-list-item {
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.about-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background: rgba(47, 48, 58, 0.8);
}

/* НАША КОМАНДА */
.team-section {
  background: var(--background);
}

.team-section-list {
  display: flex;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.team-section-list-item {
  background: var(--secondary-text-color);
  /* material shadow v1 */
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-section-list-item:not(:last-child) {
  margin-right: 30px;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.card-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  min-height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-list-link:hover,
.card-social-list-link:focus {
  background-color: var(--accent-color);
}

.card-social-list-link:hover .icon-svg,
.card-social-list-link:focus .icon-svg {
  fill: var(--secondary-text-color);
}

.icon-svg {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-links-item:hover,
.social-links-item:focus {
  color: var(--accent-color);
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */
.client-list {
  display: flex;
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-list-item-link {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item-link:hover,
.client-list-item-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.client-logo {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ПОДВАЛ */
.footer {
  background-color: var(--footer-background);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.footer-logo > span {
  color: var(--accent-color);
}

.footer-address-item .address-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-addres-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-addres-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-utils {
  margin-right: 94px;
}

.footer-subtitle {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-links-list {
  display: flex;
}

.footer-section {
  margin-right: 69px;
}

.footer-links-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links {
  display: flex;
  width: 44px;
  min-height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--secondary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links:hover,
.footer-social-links:focus {
  background-color: var(--accent-color);
}

.form-mail-input {
  width: 356px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding: 15px 16px;
}

.form-mail-btn {
  display: inline-flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  padding: 10px 28px;
}

.mail-btn-svg {
  fill: var(--secondary-text-color);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */